/* Estilos principales para la sección de inicio */
#inicio {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Overlay: Aseguramos que cubra todo el área y que el contenido esté centrado */
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Video: Cubre toda la pantalla */
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit:cover;
}

/* Contenido: Asegura que el contenido esté centrado y sea responsive */
.contenido {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

/* Título */
h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

/* Misión y Visión*/
.mision,
.vision {
  margin-bottom: 2rem;
}

.mision h3,
.vision h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.mision p,
.vision p {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
}


/* Estilos Responsive */
@media (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }

  .mision h3,
  .vision h3 {
    font-size: 1.5rem;
  }

  .mision p,
  .vision p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 1.5rem;
  }

  .mision h3,
  .vision h3 {
    font-size: 1.25rem;
  }

  .mision p,
  .vision p {
    font-size: 0.9rem;
  }
}
