/* CSS Productos */

#stock{
  width: 100%;
  height: 100vh;
  background:linear-gradient(white, grey);
  display: flex;
  justify-content: center;
}

/* Buscador */
.form-buscador{
  margin-top: 1rem;
  font-weight: bold;
  label{
    margin: 4px;
  }
  input{ 
    padding: 5px;
    width: 200px;
  }
}

/* Boton Buscar*/
.boton-buscar{
  margin: 3px;
  padding: 5px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 8px;
  background-color: darkgreen;
  color: whitesmoke;
  cursor: pointer;
}
.boton-buscar:hover{
  background-color: whitesmoke;
  color: darkgreen;
}