/* CSS Encabezado */

.contenedor-header{
  display: flex;  
  /* border: 1px solid black; */
  flex-direction: row-reverse;
  justify-content:space-between;
  align-items: center;
}

/* Contenedor Usuario*/
.contenedor-img-usuario{
  position: relative;      /* Esto no responsive MEJORAR */
  margin-right: 1.3rem;
  cursor: pointer;
}
.img-perfil{
  padding: 5px;
  width: 40px;
  border-radius: 15%;
}
.img-perfil:hover{
  background-color: gray;
}


/* Menu Usuario */
.menu-perfil{
  position: absolute;
  top: 45px;
  left: -11.2rem;
  padding: 3px 5px;
  background-color: whitesmoke;
  border-radius: 7px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.menu-perfil >ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu-perfil ul li{
  font-size: .9rem;
  width: 210px;
  margin: 5px 0px;
  padding: 5px 3px; 
  border-radius: 5px;
  text-align:justify;
  font-weight: bold;
  user-select: none;
}
.link{
  text-decoration: none;
  color: black;
}

.menu-perfil ul li:hover{
  background-color: grey;
}
/* Imagens menu usuarios */
.avatar-perfil, .boton-agregar, .cerrar-sesion{
  width: 22px;
  margin-right: .5rem;
  margin-left: 2px;
}


/* Contenedor Logo */
.contenedor-img-logo{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
  margin-left: 1rem;
  a{
    text-decoration:none;
  }  
}
.titulo-sistema{
  font-size: 1.2rem;
  margin: 4px;
  cursor: pointer;
  color: black;
  user-select: none;  
}
.imagen-logo{
  width: 55px;
  cursor: pointer;
  user-select: none;
  border-radius: 10%;
}


/* Navegacion */
.nav-menu-horizontal{
  display:flex;
  align-items: center;
  justify-content:space-evenly;
  list-style:none;
}

.nav-menu-horizontal >li{
  display: block;
  padding: 3px 5px;
  /* margin: 3px 0; */
  border-radius: 5px;
  user-select: none;
  text-decoration: none;
}
.nav-menu-horizontal >li:hover{
  background-color: gray;
}


/* Menu entrada Productos */
.menu-entrada{
  position:relative;
  display: none;
  list-style: none;
  width: auto; /*mejorar para responsive  */
  border-radius: 5px;
  background-color: rgb(192, 192, 192);
}
.menu-entrada li{
  display: block;
  padding: auto;
  text-align: center;
  padding: 3px;
  border-radius: 5px;
  text-decoration: none;
}
.nav-menu-horizontal li:hover .menu-entrada {
  display: block;
}
.menu-entrada >li:hover{
  background-color: orange;
}

/* Carrrito */
.carrito-logo{
  width: 25px;
}